<h1>Editing place</h1>
 
<%= form_for :place, url: place_path(@place), method: :patch do |f| %>
 
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@place.errors.count, "error") %> prohibited
        this place from being saved:
      </h2>
      <ul>
        <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div>
    <%=f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%=f.label :description %>
    <%= f.text_field :description %>
  </div>
 
<% end %>
 
<%= link_to 'Back', places_path %>