<%= form_for @animal do |f| %>
 
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@animal.errors.count, "error") %> prohibited
        this animal from being saved:
      </h2>
      <ul>
        <% @animal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div>
    <%=f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%=f.label :region %>
    <%= f.text_field :region %>
  </div>

  <div>
    <%=f.label :life_expectancy %>
    <%= f.text_field :life_expectancy %>
  </div>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>