<h1><%= @animal.name %></h1>
<p><%= @animal.region %></p>
<p><%= @animal.life_expectancy %></p>
<p><%= @animal.conservation_status %></p>
<p><%= @animal.rideable %></p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>